.hero{
    background:url('https://images.pexels.com/photos/7991369/pexels-photo-7991369.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative; 
    width: 100%;
    height: 87vh;
    z-index: -5; 
    margin-bottom: 5rem;
    
}
.hero::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
} 
.home-bg-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position:absolute;
    font-weight: bold;
    line-height: 2;
    width: 100%;
    margin: auto auto;
    top:13em;
    /* left: 4em;
    right: 4em; */
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.home-bg-content p{
    font-size: 2.5rem;
    color: var(--white);
    text-align: center;
    text-shadow: 0 4px 3px var(--teal);
}
.home-bg-content button{
    width: 10%;
    margin: 1em auto;
    padding: 0.7em 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--teal);
    color: var(--white);
    font-weight: bold;
    font-size: 1.2em;
}
.home-bg-content button:hover{
    cursor: pointer;
    background-color: #db9d21;
}
.grid-area-heading{
    text-align: center;
    font-size: 3em;
    color: var(--black);
    margin: 2rem;
}
.movies-offered{
    display: grid;
    grid-template-areas: 
    'box1 box2 ';
    gap: 0.5rem;
    margin:5em 1em;
    line-height: 2;
    font-weight: bolder;
} 

.box1{
    grid-area: box1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--teal);
    color: white;
    border-radius: 1em;
   background-color: wheat;
}
.box2{
    grid-area: box2;
    background-color: var(--navyBlue);
    border-radius: 1em;
   
}
.box2 img{
    width: 100%;
}



.about-us{
    display: grid;
    gap: 3em;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    margin: 4em 3em;
    background-color: #ffc243bf;
    padding: 3em 2em;
    line-height: 2;
    border-radius: 1em;
    
}
.about-us .about-us-content{
   grid-column: 1/3;

}
.about-us .about-us-content p{
    font-size: 1.5em;
    color: var(--white);
}
.about-us .about-us-content h1{
    font-size: 2rem;
    color: var(--white);
}
.about-us .about-us-image{
   grid-column: span 3/7;
   width: 100%;
}
.about-us-image img{
    width: 100%;
    border-radius: 1em;
    right: 0;
}
 
   
 @media screen and (max-width:767px) {
    .home-bg-content button{
        width: 40%;
        font-size: 0.9em;
        padding: 0.4em 0.5em;
    }
    .home-bg-content p{
        font-size: 1.2em;
    }
    .about-us{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        margin: 1.5em;
        padding: 0.7 0.5em;
        line-height: 1.5;
    }
    .about-us .about-us-content p{
        font-size: 0.7em;
    }
     .about-us .about-us-content h1{
         font-size: 0.9em;
     }
     .about-us-image{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 60%;
     }
     .movies-offered{
         grid-template-areas: 'box1'
         'box2';
     }
     .grid-area-heading{
         font-size: 1.5em;
     }
     .box1{
         font-size: 0.7em;
         padding: 1em;
         text-align: center;
     }
 }    
 @media screen and (min-width:768px){
    .home-bg-content button{
        width: 20%;
    }
    .about-us{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        margin: 1.5em;
        padding: 0.7 0.5em;
        line-height: 1.8;
    }
    .about-us .about-us-content p{
        font-size: 1.5em;
    }
     .about-us .about-us-content h1{
         font-size:1.8em;
     }
     .about-us-image{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 40%;
     }
     .box1{
        font-size: 0.9em;
        padding: 1em;
        text-align: center;
    }
 }
 @media screen and (min-width:1024px){
       
    .about-us{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        margin: 1.5em;
        padding: 0.7 0.5em;
        line-height: 1.8;
    }
    .about-us .about-us-content p{
        font-size: 1.5em;
    }
     .about-us .about-us-content h1{
         font-size: 2em;
     }
     .about-us-image{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 60%;
     }
 }  
     
 
 @media screen and (min-width:1440px){
    .about-us{
        display: grid;
        gap: 3em;
        /* width: 100%; */
        justify-content: space-between;
        align-items: center;
        margin: 4em 3em;
        background-color: #ffc243bf;
        padding: 3em 2em;
        line-height: 2;
        border-radius: 1em;
        
    }
    .about-us .about-us-content{
       grid-column: 1/3;
    
    }
    .about-us .about-us-content p{
        font-size: 1.5em;
        color: var(--white);
    }
    .about-us .about-us-content h1{
        font-size: 2rem;
        color: var(--white);
    }
    .about-us .about-us-image{
       grid-column: span 3/7;
       width: 100%;
    }
    .about-us-image img{
        width: 100%;
        border-radius: 1em;
        right: 0;
    }
    .home-bg-content button{
        width: 10%;}
 }